<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="/">Distribuição</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navMain" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'clientes:list' %}"><i class="fa fa-users"></i> Clientes</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'produtos:list' %}"><i class="fa fa-box"></i> Produtos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'vendas:list' %}"><i class="fa fa-receipt"></i> Vendas</a></li>
        <!-- Dashboard entra depois -->
      </ul>
      <ul class="navbar-nav ms-auto">
      {% if user.is_authenticated %}
        <li class="nav-item"><span class="navbar-text me-3"><i class="fa fa-user"></i> {{ user.get_username }}</span></li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="nav-link btn btn-link p-0" style="text-decoration:none">Sair</button>
            </form>
          </li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
